body{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                "banner banner banner"
                "left left right"
                "aboutUs aboutUs aboutUs"
                "race-banner race-banner race-banner"
                "events events events"
                "fly-banner fly-banner fly-banner"
                "contactUs contactUs contactUs";
}
/**HEADER**/
header{
    grid-area: header;
    background-color: white;
    text-align: center;
    width: 100%;
    z-index: 2;
    position: fixed;
    
}

  li a:hover {
    color: gold;
  }

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    padding: 15px 25px;
    font-size: 24px;
    
}

li a{
    color: #b30000;

}
#logo{
    height: 50px;
    width: 50px;
}
/**BANNER**/
.responsive-banner{
    background-image: url(../images/alison-courtney-NeZSCdi44AI-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    grid-area: banner;
    padding: 0;
    margin: 0;
}

/**LEFT**/
.left{
    grid-area: left;
    height: 500px;
    
}
.left-img{
    background-image: url(../images/tuxpi.com.1620158931.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;

}

/**RIGHT**/
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: right;
    text-align: center;
}

.right h2{
    font-size: 34px;
    text-transform: uppercase;
    color: #b30000;
}
.right p{
    font-size: 24px;
    padding-top: 5px;
}

/** ABOUT US **/
.aboutUs{
    grid-area: aboutUs;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding:  40px 20%;
}

.aboutUs h2{
    font-size: 44px;
    padding-bottom: 20px;
    color: #b30000;
}
.aboutUs p{
    font-size: 24px;
    line-height: 2.0;
}

/** RACE BANNER**/
.race-banner{
    grid-area: race-banner;
    width: 100%;
    height: 500px;
}
.race-img{
    background-image: url(../images/swim-race.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/** EVENTS **/
.events{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding:  40px 20%;
    grid-area: events;
}
.events-heading{
    font-size: 44px;
    padding-bottom: 22px;
    color: #b30000;
    
}
.events p{
    font-size: 24px;
    line-height: 2.0;
}

.box-container{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.date-box{
    border: 1px solid rgb(104, 102, 102);
    width: 150px;
    height: 170px;
}

.date-month{
    border-bottom: 1px solid rgb(104, 102, 102);
    background-color: #5CA7DE;
    font-size: 24px;
    font-weight: 800;
    padding: 10px;
    color: white;
}
.date-day{
    font-size: 30px;
    color: red;
    font-weight: 800;
    padding: 5px;
}
.date-year, .meets{
    font-size: 18px;
    font-weight: 800;
    padding: 5px;
}
/** FLY BANNER **/
.fly-banner{
    grid-area: fly-banner;
    width: 100%;
    height: 500px;
}
.fly-img{
    background-image: url(../images/fly.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/** CONTACT US **/
.contactUs{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding:  40px 20%;
    grid-area: contactUs;
}

.contactUs h2{
    font-size: 44px;
    padding-bottom: 22px;
    color: #b30000;
}

.contactUs p{
    font-size: 24px;
    line-height: 2.0;
}



@media only screen and (min-width: 950px){
    .responsive-banner-text{
        font-size: 50px;
        color: white;
        text-align: center;
        font-weight: 800;
        background-color: rgba(243, 241, 241, 0.692);
        border-radius: 5px;
        color: #b30000;
    }
    .responsive-banner-text p{
        font-size: 18px;
        color: #b30000;
        text-align: center;
    }
}
@media only screen and (max-width: 500px){
    header ul li{
        font-size: 10px;
    }
}
@media only screen and (max-width: 950px){
    
    .responsive-banner{
        background-image: url(../images/alison-courtney-NeZSCdi44AI-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .responsive-banner-text{
        font-size: 50px;
        color: white;
        text-align: center;
        font-weight: 800;
        background-color: rgba(243, 241, 241, 0.692);
        border-radius: 5px;
        color: #b30000;
    }

    .responsive-banner-text p{
        font-size: 18px;
        color: #b30000;
        text-align: center;
    }

    body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "header header header"
                "banner banner banner"
                "left left left"
                "right right right"
                "aboutUs aboutUs aboutUs"
                "race-banner race-banner race-banner"
                "events events events"
                "fly-banner fly-banner fly-banner"
                "contactUs contactUs contactUs";
    }

    .date-box{
        margin: 15px;
    }
    .meets{
        width: 80px;
    }
}